/* Reset CSS */
* {
    /* Margem */
    margin: 0;
    box-sizing: border-box;
}


body {
    /* Cor Fundo */
    background-color:#4b1c71;

    /* Cor textos */
    color:#dbb6ee;
}

/* seletor para os <A> */
a {
    /* Propriedade e Valor */
    text-decoration: none;
    color: #dbb6ee;
}


/* Header = cabeçalho */
header {
    /* ROW - linmha horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7f4ca5;
    /* Largura */
    width: 100%;
}
/* UL */
.menu{
    list-style: none;
    /* Lista Horizontal */
    display: flex;
    /* Espaço */
    gap: 1rem;
}

/* Tag NAV */
.menu-desktop{
    display: none;
}
/* Versão Mobile */


/* Responsivo */
/* telas maiores quw 768px */

@media(min-width: 768px) {
    header {
        padding: 1rem 6rem;
        justify-content: ;
        gap: ;
    }

    /* NAV */
    .menu-desktop {
        display: flex;
    }
}